<section class="nosotrossc py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="info col-12 col-md-6 col-xl-6">
                <h2 class="fw-bold text-center">Quienes somos?</h2>
                <p class="text-dark">Somos una empresa Inspirada en construir los mejores productos para vos.Utilizamos Herramientas y Maquinarias de ultima tecnologia para ofrecer productos con la mejor calidad,y al mejor precio.A su vez,Contamos con sucursales a lo largo y ancho del pais. La empresa fue fundada por 3 personas,Rolan,Yamil,Juan.Nuestro proposito siempre va a ser crear piezas unicas que transformen tu hogar</p>
                <i class="fa-solid fa-hammer fa-2x mb-1"></i>
                <i class="fa-solid fa-shield-halved fa-2x mb-1"></i>
                <i class="fa-solid fa-medal fa-2x mb-1"></i>
                <i class="fa-solid fa-truck-fast fa-2x mb-1"></i>
                <button class="btn btn-danger">Saber mas</button>
            </div>
            <div class="seccionimg col-12 col-md-6 col-xl-6">
                <img src="~/img/carpinter.jpg" />
                </div>
            </div>
    </div>
</section>